#page-container{
    width: 100vw;
    height: 100vh;
    /* filter: blur(3px); */
    display: flex;
    background-color: rgba(250, 235, 215, 0);
    justify-content: space-evenly;
    align-items: center;
    font-family: poppins;
}
#image-section{
    background-color: rgba(38, 255, 0, 0);
    width: 50vw;
    height: 90vh;
}
#image-section>img{
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;
}
#contact-section{
    background-color: rgba(255, 0, 0, 0);
    height: 50vh;
    margin-top: -4%;
    text-align: center;
}
#Contact-form{
    margin-top: 5%;
    background-color: rgba(0, 0, 255, 0);
    text-align: left;
}
#link{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: #8C8A8A;
    margin-top: 5%;
    
}
#link>li>i{
    font-size: 2.5em;
    text-decoration: none;
}
#link>li>i:hover{
transform: scale(1.1);
}