#page-container{
    width: 100vw;
    height: 100vh;
    /* filter: blur(3px); */
    display: flex;
    background-color: rgba(250, 235, 215, 0);
    justify-content:center;
    align-items: center;
    font-family: poppins;
}
#image-section{
    background-color: rgba(38, 255, 0, 0);
    width: 65vw;
    height: 90vh;
}
#image-section>img{
    width: 60%;
    margin-left: 5%;
    margin-top: 8%;
    animation: sizeChange infinite 2s ease-in-out;

}
@keyframes sizeChange {
    0%{
        transform:scale(1);
    }
     
    50%{
        transform:scale(1.01);
    }
    100%{
        transform:scale(1);
    }
} 
#contact-section{
    background-color: rgba(255, 0, 0, 0);
    height: 50vh;
    margin-top: -4%;
    margin-right: 5%;
    text-align: center;
}
#Contact-form{
    margin-top: 5%;
    background-color: rgba(0, 0, 255, 0);
    text-align: left;
}
#social-handles{
    background-color: rgba(0, 255, 132, 0);
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 5%;
 
    padding: 0%;
    
    
}
#social-handles>li{
    list-style: none;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0);
}


#social-handles>li>a>i{
    font-size:2.5vw;
    color: #8C8A8A;
    transition: .2s ease-in-out;
}
#social-handles>li>a>i:hover{
    font-size:3vw;
}




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: Inter, sans-serif;
}

@keyframes jumbo {
    from {
        background-position: 50% 50%, 50% 50%;
    }
    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.jumbo {
    --stripes: repeating-linear-gradient(
        100deg,
        #fff 0%,
        #fff 7%,
        transparent 10%,
        transparent 12%,
        #fff 16%
    );
    --stripesDark: repeating-linear-gradient(
        100deg,
        #000 0%,
        #000 7%,
        transparent 10%,
        transparent 12%,
        #000 16%
    );
    --rainbow: repeating-linear-gradient(
        100deg,
        #60a5fa 10%,
        #e879f9 15%,
        #60a5fa 20%,
        #5eead4 25%,
        #60a5fa 30%
    );
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    pointer-events: none;
}

.jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--rainbow);
    background-size: 200%, 100%;
    animation: jumbo 60s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
}

.dark .jumbo {
    background-image: var(--stripesDark), var(--rainbow);
    filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
    background-image: var(--stripesDark), var(--rainbow);
}
