#page-container{
    width: 100vw;
    height: 100vh;
    /* filter: blur(3px); */
    display: flex;
    background-color: rgba(250, 235, 215, 0);
    justify-content:center;
    align-items: center;
    font-family: poppins;
}
#image-section{
    background-color: rgba(38, 255, 0, 0);
    width: 65vw;
    height: 90vh;
}
#image-section>img{
    width: 60%;
    margin-left: 5%;
    margin-top: 8%;
}
#contact-section{
    background-color: rgba(255, 0, 0, 0);
    height: 50vh;
    margin-top: -4%;
    margin-right: 5%;
    text-align: center;
}
#Contact-form{
    margin-top: 5%;
    background-color: rgba(0, 0, 255, 0);
    text-align: left;
}
#social-handles{
    background-color: rgba(0, 255, 132, 0);
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 5%;
 
    padding: 0%;
    
    
}
#social-handles>li{
    list-style: none;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0);
}


#social-handles>li>a>i{
    font-size:2.5vw;
    color: #8C8A8A;
    transition: .2s ease-in-out;
}
#social-handles>li>a>i:hover{
    font-size:3vw;
}


