@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Poppins:wght@300;400&display=swap');

#container{
    background-color: #ff030300;
    
    
}
.section{
    height: 100vh;
}
#welcome-section{
    
background-color: rgba(91, 116, 10, 0);

}
#heroElement{
    margin-top: 0%;
    text-align: center;
    background-color: #08508f00;
    max-width: 100%;
    height: 40%;
}
#heroElement>h2 {
    color: #6b6b6b9d;
    font-family: poppins;
    font-weight: 600;
    margin-top: -10vh;
    font-size: 2.5vmax;


}
#notes-section{
    height: 100vh;
    background-color: #0689b500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
@keyframes textGradientChange {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.text-gradient-animation {
    background: linear-gradient(to right, #ffffff, #5ccff5);
    /* Replace with your desired colors */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 500% 300%;
    animation: textGradientChange .9s linear infinite alternate;
    /* Adjust the duration and timing function as needed */
    font-family: poppins;
    font-size: 25px;
    font-weight: 600;

}
svg {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 4vmax;
    margin-top: 15vh;
}

svg text {
    animation: stroke 5s 1;
    stroke-width: 2;
    stroke: #A3D4FE;
    fill: #A3D4FE;
   
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 204, 0);
        stroke: #A3D4FE;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke: #A3D4FE;
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: #A3D4FE;
        stroke-width: 3;
    }

    100% {
        fill: #A3D4FE;
        stroke: #A3D4FE;
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}


.scroll-downs {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3px solid #9AD0FF;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 4px;
    height: 10px;
    border-radius: 25px;
    background-color: #9AD0FF;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

@media screen and (min-width: 1024px) {
   
  }/* Tablet media query - screens with a width between 601 and 1023 pixels */
@media screen and (min-width: 601px) and (max-width: 1023px) {
    /* CSS rules for tablet screens */
  }
/* Phone media query - screens with a maximum width of 600 pixels */
@media screen and (max-width: 600px) {
    /* CSS rules for phone screens */
    #notes-section{
        flex-direction: column;
        background-color: red;
        justify-content: space-evenly;
    }
  }
    


  #create-section{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    display: flex;
   align-items: baseline;
   justify-content: center;
    
  }