.mb-3>.form-label {
    color: rgb(163, 212, 254);
}


.loginForm {
    border: 2px;
    border-radius: 2%;
    border-color: rgb(184, 230, 255);
    border-style: solid;
    padding: 10%;
    position: relative;
    width: 25vw;
    height: 45vh;
    background-color: rgba(255, 0, 0, 0);
    bottom: 30%;
    display: grid;
}

#emailHelp {
    color: rgb(106, 106, 106);
}

#passwordInput::placeholder {
    font-size: 11px;
}

#loginBtn {
    color: rgb(232, 232, 232);
    background: linear-gradient(90deg, hsla(218, 89%, 59%, 1) 0%, hsla(224, 75%, 49%, 1) 100%);
    padding: 0;
    font-size: 1.2em;

}


#loginBtn:hover {
    background: linear-gradient(90deg, hsla(218, 89%, 59%, 1) 0%, hsla(218, 89%, 59%, 1) 100%);
}