.mb-3>.form-label {
    color: rgb(163, 212, 254);
}

#Textfield {

    background-color: rgba(237, 18, 18, 0);
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px;
    border-radius: 20px;
    border-color: rgb(184, 230, 255);
    border-style: solid;
    position: relative;
    width: 22vw;
    height: 55vh;
    background-color: rgba(21, 221, 3, 0);
    padding: 8%;
    caret-color: black;




}

#lower-section {
    text-align: center;
    background-color: rgba(8, 240, 240, 0);
}

#emailHelp {
    color: rgb(106, 106, 106);
}

#passwordInput::placeholder {
    font-size: 11px;
}

#loginBtn {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, hsla(218, 89%, 59%, 1) 0%, hsla(224, 75%, 49%, 1) 100%);
    font-size: 1.2em;
    margin: auto;


}


#loginBtn:hover {
    background: linear-gradient(90deg, hsla(218, 89%, 59%, 1) 0%, hsla(218, 89%, 59%, 1) 100%);
}

.loginForm>#lower-section>p {
    margin-top: 6%;
    color: rgb(167, 167, 167);

}

.loginForm #lower-section p #link {
    text-decoration: none;
    color: rgb(163, 212, 254);
    transition: .2s;
    display: inline-block;
}

.loginForm #lower-section p #link:hover {
    transform: scale(1.05) !important;
}

.loginForm>#Textfield>#h1 {
    color: #ffffff;
}