@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.Navbar {
    background-color: rgba(231, 231, 231, 0.025);
    width: 100vw;
    min-height: 6vh;

    font-size: 1.2em;
}

.Navbar>ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between
}

.Navbar>ul>li>.first-part {
    background-color: rgba(255, 0, 0, 0);
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    color: #ffffff;

}

.Navbar>ul>li>.first-part>.icon {
    font-size: 28px;
    margin-left: 2%;
    color: #397EF4;
}

.Navbar>ul>li>.first-part>.links {
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    width: 50%;
    justify-content: space-evenly;



}

.Navbar>ul>li>.first-part>.links>a {
    text-decoration: none;
    color: #8b8b8b;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: .2s;
}

.Navbar>ul>li>.first-part>.links>a:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #397EF4;
}

.Navbar>ul>li>.second-part {
    background-color: rgba(255, 0, 0, 0);
    height: 7vh;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif
}

.navBtn {
    width: 8vw;
    height: 5vh;
    border-style: none;
    background: linear-gradient(90deg, hsla(218, 89%, 59%, 1) 0%, hsla(224, 75%, 49%, 1) 100%);
    font-size: .8em;
    border-radius: 9999px;
    font-weight: 500;
    color: #d9d9d9;
    font-family: 'Poppins', sans-serif;

}

.navBtn:hover {
    background: linear-gradient(90deg, hsla(218, 89%, 59%, 1) 0%, hsla(218, 89%, 59%, 1) 100%);

}

#login {}


#links>.active {
    color: rgb(163, 212, 254);
}

#links>.pending {
    color: rgb(43, 0, 255);
}