.form-container {
    height: 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 25vw;
    background-color: #8dc1f8;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

#h1 {
    color: #484848;
}

#paragraph {
    color: #ffffff;
    font-weight: 400;

}

#paragraph>#link {
    text-decoration: none;
    color: #1F51DA;
    font-weight: 600;
    display: inline-block;
    transition: .2s;
}

#paragraph>#link:hover {
    transform: scale(1.05);
    font-weight: 600;
}

.form-container>form {
    display: flex;
    flex: 1 1 0px;
    width: 100%;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
}

.submit-btn {
    width: 35%;
    font-size: medium;
    background-color: rgb(0, 128, 255);
    color: black;
    border: none;
    transition: all 0.1s;
    font-weight: 600;
}

.submit-btn:hover {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    outline: none;
    transform: scale(1.08) perspective(1px);

}

.name-container,
.password-container,
.email-container {
    position: relative;
    width: 70%;
}

.label {
    position: absolute;
    left: -10px;
    top: -15px;
    z-index: 1;
    background-color: #8dc1f8;
    padding-right: 5%;
    font-weight: 600;
}

input {
    background: transparent;
    border: none;
    height: 30px;
    outline: rgb(255, 248, 248) solid;
    font-size: medium;
    color: var(--secondary-color);
    padding-left: 3%;
    border-radius: 4px;
    transition: all 0.3s;
    width: 100%;
}

input:focus {
    outline: rgb(0, 0, 0) solid;
    transform: scale(1.06);

}