#shell{
    background-color: #050b1ea9;
    width: 85vw;
    min-height: 85vh;
    margin-right: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(25px); 
   
}
#border{
    background-color: rgba(255, 0, 0, 0);
    height: 50%;
    width: 40%;
}
#notesForm{
    margin-top: -10%;
}