#Wrapper{
    background-color: rgba(255, 0, 0, 0);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    flex-direction: column;
    font-weight: 600;
    font-family: poppins;   
    color: white; 
   }

#mainSection{
   margin-top: 8%;
    background-color: #111628;
    width: 30vw;
    height: 44vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
   
    border-radius: 15px;
    line-height: 10px;
   
    
   }
 #userImg{
   position: absolute;
    top: 25%;
  }

  #accountSection{
    background-color: rgba(0, 255, 255, 0);
    margin-top: 15%;
    
  }
  #span{
    margin-top:25%;
    background-color: rgba(255, 0, 0, 0);
    
  }
  #spinner {
    position: fixed;
    top: 50%;
    left: 50%;
  
    z-index: 11;
    border: 5px solid transparent;
    border-top: 5px solid #A3D4FE; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite, changeColor 4s ease-in-out infinite; 
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes changeColor {
    0%, 100% {
      border-top-color: #A3D4FE;
    }
    50% {
      border-top-color: #0632d5; /* Change to desired color */
    }
  }
  
#pen{
  position: absolute;
  top: 40%;
  left: 55%;
  color: #535353c4;
  
}
#pen:hover{
  cursor: pointer;
  /* transform: scale(1.08); */
  color:#A3D4FE;
}