.container1{
background-color: rgba(226, 2, 2, 0);
    width: 45vw;
    height: 65vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.container1>h2{
    color: #8BC4FD
}
/* Add this style in your CSS file or inline style in your React component */
#row {
    overflow-y: scroll;
   }

#row::-webkit-scrollbar {
    height: 8px;
    width: 2px;
    
    
}

#idk{
    border:solid 2px rgba(255, 255, 255, 0);
}
#card-body{
   
    
    border-radius: 5px
}#showNotes{
    background-color: #b3b3b3;
    max-width: 10vw;
    color: black;
    font-weight: 600;
}