.container1{
background-color: rgba(226, 2, 2, 0);
    width: 45vw;
    height: 65vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.container1>h2{
    color: #8BC4FD;
    align-self: start;
    
}
#row {
    overflow-y: scroll;
    align-self: center;
    background-color: #06c03400;
    width: 100%;
   }
#noteWrapper{
    padding: .5%;

  background-color: #6e6e6e00;
}
#row::-webkit-scrollbar {
    height: 8px;
    width: 2px;
    
    
}
#icons{
    float: right;
    background-color: rgba(255, 0, 0, 0);
    
}
#icons>i{
    padding: 5%;
}
#icons>i:hover{
   transform: scale(1.1);
   cursor: pointer;
}
#idk{
    border:solid 2px rgba(255, 255, 255, 0);
    background-color: #8BC4FD;
}
#card-body{
  
    min-width: 5vw;
    border-radius: 5px
}
#showNotes{
    background-color: #06c035;
    max-width: 10vw;
    color: black;
    font-weight: 600;
}

#searchBar{
    background-color: rgba(150, 12, 12, 0);
    width: 100%;
    height: 20%;
    align-self: start;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#searchBar>form{
    display: flex;
    gap: 10%;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-left: .5%;
    
}
#searchInput{
    background: #39393900;
    color: #8BC4FD;

}

#searchInput:focus
{
 color: #ffffff;
 outline-color: #8BC4FD;
 transform: scale(1);
}

form>i {
    display: inline-block;
    vertical-align: middle;
    color: #bdbdbd;
    cursor:pointer;
}

form>i:hover{
    color: #8BC4FD;
    transform: scale(1.05);
}

#searchBar>i{
    color: #6e6e6e;
}

#searchBar>i:hover{
    color: #8BC4FD;
    transform: scale(1.05);
    cursor: pointer;
}