* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;
  background-color: rgb(5, 11, 30);
  caret-color: transparent;

}
#root{
  background-color: rgba(240, 248, 255, 0);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}